@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Sedan:ital@0;1&display=swap');

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sedan', serif;
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  animation: pulse 1s infinite alternate;
  }
  
  .time {
    font-family: 'Sedan', serif;
    font-size: 36px;
    font-weight: bold;
    color: #333; /* Cambia el color del texto */
    display: flex;
  flex-direction: row;
  margin-top: 5p
  x;
  }
  .time-part-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px; /* Ajusta el margen derecho según necesites */
  }
  
  .time-label {
    margin-top: 5px; /* Ajusta el margen superior según necesites */
  }
 