  
.musica{
  display: flex; /* Utiliza flexbox para alinear verticalmente */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  margin-top: 10px;
  width: 15%;
  margin: auto;
}



@media (max-width: 768px) {
    .fecha{
      display: flex;
      justify-content: center;
      margin-top: 20px;
      font-size: 30px;
      width: 100%;
      padding: 0;
    }
  }
