.Anexos {
  display: flex;
  justify-content:center; 
  gap: 20px; /* espacio entre imagene */
  text-align: center;
  margin-top: 10px;
}

.spotifyImg 
.fotosImg{
  display: inline-block;
}
  
@media (max-width: 768px) {
  .Anexos {
    flex-direction: column;
  }
}
  