.boton-fotos{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block; /* Cambiado a block para que pueda tener márgenes automáticos */
    cursor: pointer;
    margin: 0 auto; /* Margen automático en la parte superior e inferior y auto en los lados para centrar horizontalmente */
}