
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  overflow: hidden;
  overflow-y: auto;  
}

:root{
  background-image: url('/fondo1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  }


